.journey_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .grid_wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column: 1 / span 5;
        width: 100%;
    }
}