header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    width: 100%;
    h1 {
        a {
            color: var(--theme-gray);
            text-decoration: none;
            text-transform: uppercase;
            &:visited {
                color: var(--theme-gray);
            }
            .gray {
                background: var(--theme-gray);
                color: var(--theme-off-white);
                padding: 0.1rem 0.3rem;
            }
            .yellow {
                background: var(--theme-yellow);
                padding: 0.1rem 0.3rem;
            }
        }
    }
}