header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h1 {
        text-decoration: none;
        text-transform: uppercase;
    }
}