@font-face {
  font-family: 'Roboto';
  src: url('./fonts/RobotoCondensed-Regular.ttf');
}

:root {
  --theme-yellow: #fcbc19;
  --theme-gray: #333333;
  --theme-light-gray: #cccccc;
  --theme-even-lighter-gray: #e9e9e9;

  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f1f;
  color: #ffffff;
}
